/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.quote-container {
	background-color: #4273b4;
	color: #fff;
	padding: 3rem;
	text-align: center;
}
.quote-container h2 {
	font-family: "title";
}
.quote-container p {
	font-family: "main";
}
