footer {
  width: 100vw;
  position: relative;
}

footer section {
  margin-top: 25%;
  display: flex;
  width: 100vw;
  height: 25vw;
  justify-content: space-around;
}
footer article {
  padding-right: 1rem;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer h2 {
  font-family: "heading";
}
footer p {
  font-family: "heading";
  font-size: 14px;
  line-height: 2rem;
}
footer a {
  font-family: "heading";
  font-size: 18px;
  line-height: 2rem;
  text-decoration: none;
  color: black;
}
footer a:hover {
  text-decoration: underline;
}
button {
  background-color: transparent;
  border: none;
}

.social,
.social-mobile {
  justify-content: center;
  width: 100vw;
  display: flex;
  align-self: flex-end;
  position: absolute;
}

.social-mobile {
  display: none;
}

.footer-background {
  position: absolute;
  object-fit: cover;
  width: 100%;
  z-index: -4;
}

.footer-background-mobile {
  position: absolute;
  object-fit: cover;
  z-index: 1;
  width: 100vw;
  display: none;
}

.mobile-footer-container {
  width: 100vw;
  margin-top: 25vh;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  display: none;
}

.links-container {
  width: 90vw;
  display: flex;
  flex-direction: column;
}

.links-container ul {
  display: none;
  flex-direction: column;
  margin-left: 10vw;
}

.links-container.open ul {
  display: flex;
}

.links-container p {
  width: 100%;
  font-size: 1.1em;
  font-weight: 800;
  border-bottom: 1px solid var(--light-blue);
}

/* ANIMATION ON SOCIAL LINKS */
.social-links:hover {
  transform: scale();
  animation: expand 0.8s;
  cursor: pointer;
}
footer img {
  width: 50px;
}
@keyframes expand {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
