* {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  --purple: #a25dd8;
  --red: #db625d;
  --orange: #e78e5c;
  --yellow: #f7d348;
  --green: #92cb9c;
  --teal: #347681;
  --blue: #4273b4;
  --light-blue: #6e96ca;
  --grey: #ecf1f4;
  --white: #fafcfe;
}

@font-face {
  font-family: "antropos";
  src: url("./fonts/antropos.woff2") format("woff2");
}
@font-face {
  font-family: "title";
  src: url("./fonts/ArchitectsDaughter-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "heading";
  src: url("./fonts/Lato-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "main";
  src: url("./fonts/Lato-Light.woff2") format("woff2");
}

.pages {
  padding: 10rem 15rem 10rem 15rem;
}
.wp-block-columns {
  display: flex;
  justify-content: center;
}
