header {
  background-color: var(--light-blue);
  padding: 2rem;
  height: 100px;
}
.header-wave {
  position: absolute;
  width: 100%;
  z-index: 99;
}
nav {
  display: flex;
  justify-content: space-between;
  margin-left: 25rem;
}
nav a {
  color: black;
  font-family: "antropos";
  text-decoration: none;
}
.logo .logo-image {
  width: 200px;
  position: absolute;
  top: 6rem;
  margin-left: 1.2rem;
  z-index: 100;
}
.logo .logo-text {
  width: 200px;
  position: absolute;
  top: 4rem;
  z-index: 100;
  margin-left: 5rem;
}
nav img {
  width: 30px;
}

.child-pages {
  display: none;
  position: absolute;
  z-index: 100;
  background-color: #cfdced;
  border-radius: 8px;
  padding: 1rem;
}

.child-pages li {
  list-style: none;
  font-size: 0.9em;
  line-height: 2em;
}
.child-pages li:hover,
.single-page:hover {
  text-decoration: underline;
}

.parent-pages {
  display: flex;
  flex-direction: row-reverse;
}

.pages-container:hover ul {
  display: block;
}

.hamburger-menu {
  position: relative;
  left: 76%;
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 102;
  display: none;
}
.hamburger-menu div {
  background-color: rgb(36, 36, 36);
  width: 100%;
  height: 3%;
  margin: 5% 0;
}

.mobile-nav {
  background-color: white;
  width: 100vw;
  /* height: 100vh; */
  position: absolute;
  z-index: 101;
  left: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.mobile-nav.opened {
  left: 0vw;
}

.hamburger-menu .middle {
  width: 70%;
  align-self: flex-start;
}

.mobile-nav > * {
  width: 100%;
  display: flex;
  font-size: 1.5em;
}

.single-page-mobile {
  padding: 1.4em 0;
}

.mobile-container {
  border-bottom: 1px solid rgb(34, 107, 184);
  padding: 1.4em 0;
}

.mobile-container {
  color: var(--light-blue);
  text-decoration: none;
  margin-left: 10%;
  height: 20%;
}

.pages-container-mobile {
  display: flex;
  flex-direction: column;
}

.pages-container-mobile ul {
  display: none;
}

.pages-container-mobile.open {
  height: 200%;
}

.pages-container-mobile.open ul {
  display: block;
}

.pages-container-mobile.open span {
  padding-bottom: 1.4em;
}

.pages-container-mobile.open span {
  border-bottom: 1px solid rgb(34, 107, 184);
  color: black;
}

.child-pages-mobile a {
  color: var(--light-blue);
  text-decoration: none;
}
