/* NEEDS HAMBURGER MENU */
@media screen and (max-width: 700px) {
  nav a {
    display: none;
  }
  .logo .logo-image {
    display: none;
  }
  footer article {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  nav a,
  nav .pages-container {
    display: none;
  }
  div.hamburger-menu {
    display: flex;
  }
  header {
    padding: 0rem;
  }
  .logo .logo-text {
    margin-left: 0rem;
    top: 5rem;
  }
}
