/* NEEDS HAMBURGER MENU */
@media screen and (max-width: 700px) {
  .wp-block-columns {
    display: block;
  }
}

@media screen and (max-width: 1100px) {
  .pages-container a,
  .single-page {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 950px) {
  nav {
    margin-left: 300px;
  }
  .pages-container a,
  .single-page {
    font-size: 0.6em;
  }
}

@media screen and (max-width: 1000px) {
  nav a,
  nav .pages-container {
    display: none;
  }
  .logo .logo-image {
    display: none;
  }
  .logo-mobile .logo-image {
    display: flex;
  }
  div.hamburger-menu {
    display: flex;
  }

  header {
    padding: 0rem;
  }
  .logo .logo-text {
    margin-left: 0rem;
    top: 5rem;
  }
  footer a {
    line-height: 0rem;
  }

  .social-links {
    margin-right: 0rem;
    width: 30%;
    height: 30%;
  }

  footer article {
    padding-right: 0.25rem;
  }

  footer h2 {
    font-size: 0.7em;
  }

  footer a,
  footer p {
    font-size: 0.6em;
  }
}

@media screen and (max-width: 600px) {
  .footer-background {
    display: none;
  }

  footer {
    height: 100vh;
    background: rgb(158, 185, 220);
    background: linear-gradient(
      0deg,
      rgba(158, 185, 220, 1) 54%,
      rgba(255, 255, 255, 1) 54%
    );
  }

  .mobile-footer-container {
    display: flex;
  }

  .links-container ul li a,
  .links-container ul li p {
    font-size: 1em;
  }

  footer section article {
    display: none;
  }

  .footer-background-mobile {
    display: flex;
  }

  .social {
    display: none;
  }

  .social-mobile {
    z-index: 10;
    margin-top: 150%;
    display: flex;
  }
}
