/* NEEDS HAMBURGER MENU */
@media screen and (max-width: 700px) {
  nav a {
    display: none;
  }
  .logo .logo-image {
    display: none;
  }
  footer article {
    display: none;
  }
  .wp-block-columns {
    display: block;
  }
}

@media screen and (min-width: 1900px) {
  .pages {
    margin: 10rem 25rem 10rem 25rem;
  }
}
