/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.circle-block-container {
	border-radius: 100%;
	display: flex;
	text-align: center;
	justify-content: center;
	justify-self: flex-end;
	align-items: center;
	width: 15rem;
	height: 15rem;
}
.circle-block-container h3 {
	font-family: "title";
	width: 9rem;
}
