/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.circle-container {
	height: 450px;
	width: 450px;
}
.image-container {
	height: 400px;
	width: 400px;
	border-radius: 100%;
}
