/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.picture-container {
}
.picture-circle {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 450px;
	width: 450px;
	border-radius: 100%;
}
.picture-image {
	height: 400px;
	width: 400px;
	border-radius: 100%;
}
@media screen and (max-width: 1000px) {
	.picture-circle {
		height: 300px;
		width: 300px;
	}
	.picture-image {
		height: 250px;
		width: 250px;
	}
}
